@media (max-width: 935px){
  aside{
    display: none;
  }
  #container{
    display: flex;
    justify-content: center;

  }
  #content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #storys{
    width: 614px;
  }
}
footer {
  display: none;
}
@media (max-width:612px) {
  #storys, #container, .posts,.imgPosts,#post {
    width: 100%;
  }

  #container{
    grid-template-columns: 100%;
    display: block;
  }
  body {
    grid-template-columns: 100%;
    margin: 0px;
  }
  #menuDesktop, .arrow{
    display: none;
  }
  #menuMobile{
    display: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0px 20px;
  }
  #menuMobile div{
    height: 29px;
  }
  #menuMobile ion-icon{
    font-size: 22px;
  }  
  #menuMobile a > img{
    width: 90px;
    height: 29px;
  }
 
  aside {
    display: none;
  }


}